.MuiButton-contained {
    border-radius: 50px !important;
    color:white;
    padding: 11px !important;
    width: 100px !important;
    margin-top: 12px !important;
    background-color: #6750A4 !important
}
.MuiButton-outlined {
    border-radius: 50px !important;
    padding: 11px !important;
    width: 100px !important;
    margin-top: 12px !important;
    color: #6750A4 !important;
    border-color: #6750A4 !important;
}